@import 'compass/css3/background-clip';
@import 'compass/css3/border-radius';
@import 'compass/css3/box-shadow';
@import 'compass/css3/box-sizing';
@import 'compass/css3/images';
@import 'compass/css3/text-shadow';
@import 'compass/css3/transition';


@import 'helpers/fonts';
@import 'helpers/mixins';
@import 'helpers/patterns';
@import 'helpers/forms';
@import 'helpers/elements';
@import 'helpers/header';
@import 'helpers/ezmark';
@import 'helpers/palette';
@import 'helpers/not_found';
@import 'helpers/list_your_property';
@import 'helpers/slider';
@import 'helpers/submission';
@import 'helpers/navigation';
@import 'helpers/properties';
@import 'helpers/propertydetail';
@import 'helpers/pricing';
@import 'helpers/login_register';
@import 'helpers/agents';
@import 'helpers/call_to_action';
@import 'helpers/aboutus';
@import 'helpers/partners';
@import 'helpers/carousel'; 
@import 'helpers/map';
@import 'helpers/features';
@import 'helpers/bottom';
@import 'helpers/footer';
@import 'helpers/idx';


.btn { -webkit-font-smoothing: antialiased; @include background-image(none); @include border-radius(0px); @include box-shadow(none); @include text-shadow(none); border: 0px; padding: 7px 15px 7px 15px; font-weight: normal; 
  &.btn-primary { @include transition(background-color .2s ease-in); background-color: $blue;
    &.arrow-right { background-image: url('../img/arrow-right-white.png'); background-position: 90% center; background-repeat: no-repeat; background-size: 8px 11px; padding-right: 30px;
      @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
        background-image: url('../img/arrow-right-white@2x.png');
      }
    }
    &:hover { background-color: darken($blue, 10%); }
  }
  &.btn-large { padding: 11px 19px; 
    &.arrow-right { padding-right: 50px; }
  }
}

html { height: 100%;}
body {
  -webkit-font-smoothing: antialiased; background-color: $body-background-color; color: $body-text-color; font-family: $font-family-default; font-size: 14px; height: 100%; margin: 0px; padding: 0px;

  a { @include transition(color .1s ease-in); color: $body-link-color;
    &:hover { color: darken($body-link-color, 10%);  text-decoration: underline; }
  }

  p {
    line-height: 20px;
    &.content-icon-spacing { padding-left: 55px; }
  }

  hr {
    &.dotted { background-image: url('../img/border-gray.png'); background-position: left center; background-repeat: no-repeat; border: 0px; height: 1px; } 
  }

  ul {
    &.dotted {
      li { color: $blue-dark; list-style-position: outside; list-style-type: disc; margin-left: 20px;
        .inner { color: $black;
          strong { color: $black-dark; }
        }
      }
    }
  }
  // &.logged-in {
  //   &.admin-bar { margin-top: 0px !important; }
  //   &:not(.admin-bar) { margin-top: -28px !important; }
  // }

  #wrapper-outer { @include transition(left .3s ease-in); height: 100%;
    #wrapper { @include transition(left .3s ease-in); @include box-shadow(0px 0px 14px rgba(0,0,0,0.11)); background-color: $body-background-color; display: table; height: 100%; position: relative; width: 100%;
      #wrapper-inner { display: table-row; height: 100%; }
      #footer-wrapper { display: table-row; height: 1px; }
    }
  }
}

body.layout-boxed {
  #wrapper-outer { margin: 0px auto; width: 1200px; }

  @media (min-width: 980px) and (max-width: 1199px) {
    #wrapper-outer { width: 980px; }
  }

  @media (min-width: 768px) and (max-width: 979px) {
    #wrapper-outer { width: 768px; }
  }  

  @media (max-width: 767px) {
    #wrapper-outer { width: 85%; }
  }
}

@media (max-width: 979px) {
  body.layout-wide {
    &.nav-open {
      #wrapper-outer { overflow-x: hidden;
        #wrapper { left: 85%; }
      }
    }
  }

  body.layout-boxed {
    &.nav-open {
      #wrapper-outer { left: 70%; position: relative; }
    }
  }  
}

#content { padding-bottom: 30px; }

@media (max-width: 767px) {
  #content { 
    #main {
      padding-left: 20px; padding-right: 20px;
    }
  }
}

h1.page-header,
h2.page-header { border: 0px; color: $body-heading-color; font-family: $font-family-default-light; font-size: 30px; font-weight: 300; line-height: 40px; margin: 20px 0px; padding: 0px;
  a { color: $body-heading-color; text-decoration: none; }
}
h2 { color: $body-heading-color; font-size: 24px; font-weight: lighter; margin: 20px 0px; }
h3 { color: $body-heading-color; font-size: 18px; font-weight: normal;
  &.address { background-image: url('../img/icons/bubble-address.png'); background-position: left center; background-repeat: no-repeat; background-size: 34px 35px; padding-left: 55px; }
  &.call-us { background-image: url('../img/icons/bubble-call-us.png'); background-position: left center; background-repeat: no-repeat; background-size: 34px 35px; padding-left: 55px; }
  &.email { background-image: url('../img/icons/bubble-email.png'); background-position: left center; background-repeat: no-repeat; background-size: 34px 35px; padding-left: 55px; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    &.address { background-image: url('../img/icons/bubble-address@2x.png'); }
    &.call-us { background-image: url('../img/icons/bubble-call-us@2x.png'); }
    &.email { background-image: url('../img/icons/bubble-email@2x.png'); }
  }
}

@media (max-width: 767px) {
  h1.page-header, h2.page-header { font-size: 24px; }
  h2 { font-size: 24px; }
}

body.header-light {
  .breadcrumb-wrapper { background-color: $white; border-bottom: 1px solid $gray-lighter; font-size: 12px;
    .breadcrumb { color: $gray !important;  }

    .nav {
      li {
        a { border-right-color: $gray; color: $gray !important; }
      }
    }
  }
  #navigation { background-color: $blue-medium;
    input[type=text] { border: 0px !important; height: 22px; }
    button.btn { border: 0px; height: 34px; }
    .nav {
      .nolink, a { color: $white !important; }

      @media (min-width: 980px) {
        .menuparent {
          > .nolink,
          > a { background-image: url('../img/arrow-bottom-white.png') !important;
            @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
              background-image: url('../img/arrow-bottom-white@2x.png') !important;
            }
          }

          .menuparent {
            > .nolink,
            > a { background-image: url('../img/arrow-right-white.png') !important;
              @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
                background-image: url('../img/arrow-right-white@2x.png') !important;
              }
            }
          }
        }
      }
    }
  }
}

body.header-dark {
  .breadcrumb-wrapper { background-color: $blue-dark; border-bottom: 1px solid $blue-dark; }
  #header-inner { background-color: $blue-medium; color: #fff;
    .site-name {
      a { color: $white !important; }
    }
    .site-slogan { color: $white !important; }
    .site-phone {
      span { background-image: url("../img/icons/phone-white.png") !important; color: #fff !important;
        @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
          background-image: url("../img/icons/phone-white@2x.png") !important;
        }
      }
    }
    .site-email {
      a { background-image: url("../img/icons/mail.png") !important; color: #fff !important;
        @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
          background-image: url("../img/icons/mail@2x.png") !important;
        }
      }
    }
  }
}

.sidebar {
  @media (max-width: 767px) {
    padding-left: 20px; padding-right: 20px;
  }

  .widget:not('.properties') { margin-bottom: 15px;
    #wp-calendar { width: 100%;
      tbody {
        td { text-align: center; }
      }
    }
    > ul { list-style: none; }
    > div, > ul {
      @include shadow; background-color: $agents-widget-background-color; margin: 0px; padding: 10px 15px;
    }
  }
  .widget.call-to-action { background-color: $white; padding: 20px; }
}
.widget.properties {
  @media (min-width: 767px) and (max-width: 979px) {
    .image { display: none; }
  }
}

.widget.widget_search {
  @media (max-width: 767px) {
    .input-append { margin: 0px auto; width: 144px; }
  }

  input[type=text], input[type=date] { width: 187px;
    @media (min-width: 980px) and (max-width: 1199px) {
      width: 137px;
    }

    @media (min-width: 768px) and (max-width: 979px) {
      height: 20px !important; width: 83px;
    }    

    @media (max-width: 767px) {
      height: 20px !important; width: 100px;
    }    
  }
}

.widget.login, .widget.register {
  form { background-color: $white; margin: 0px; padding: 20px; }
}

.content-bottom-inner { clear: both; margin-top: -30px; 
  @media (max-width: 767px) {
    padding-left: 20px; padding-right: 20px; 
  }
}

#main {
  article.type-post {
    &:first-child { margin-top: 30px; }
  }
}
span.wpcf7-not-valid-tip { background-color: red; border: 0px; color: $white; padding: 5px 10px; }

body.header-fixed {
  .header-top-wrapper { padding-bottom: 115px;
    .header-top { position: fixed; width: 100%; z-index: 202; }
  }
}

.gallery-item {
  .gallery-icon {
    img { border: 0px !important; }
  }
}

.agency { margin-bottom: 20px; }